<ion-header>
    <ion-navbar color="primary">
      <ion-title>Nova mensagem</ion-title>
     </ion-navbar>
</ion-header>

<ion-content>
    <ion-list class="newMensageList">
        <ion-item>
            <ion-label>Para:</ion-label>
            <ion-input class="textALignNew" type="text" value="" style="text-align: left;"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list>
    <ion-list-header>
          Escolher professor
      </ion-list-header>
  <ion-item>
    <ion-avatar item-left class="newAvatar">
      <img src="assets/img/lel.png">
    </ion-avatar>
    <h2>Matemática</h2>
    <p> André Martins</p>
    </ion-item>
</ion-list>
</ion-content>
