.contentLogin{
   background-image: url('../assets/img/imageStartPage3.png');
   background-size: cover;
}

.logo{
    margin-top: 50px;
    text-align: center;
}

.logo img{
    max-width: 200px;
    text-align: center;
}

/* ALL BUTTONS */
.btnAll{
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.iconSpacing{
    margin-right: 15px;
}

.btnLogin{
    width: 100%;
}

/* ROW */
.spaceCol{
    padding-top: 0;
    padding-bottom: 0;
}


/* GOOGLE BUTTON */
.btnLoginGoogle .button-inner{
    justify-content:flex-start;
}

/* FACEBOOK BUTTON */
.btnLoginFacebook .button-inner{
    justify-content:flex-start;
}







