<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2>Chat</h2>

  <ion-list no-lines>
    <div *ngFor="let mensagem of chat | async">
      <ion-item *ngIf="mensagem.from == 0" style="text-align: left;">
        {{mensagem?.mensagem}}
      </ion-item>
      <ion-item *ngIf="mensagem.from == 1" style="text-align: right;">
        {{mensagem?.mensagem}}
      </ion-item>
    </div>
  </ion-list>


  <ion-item>
    <ion-label fixed>Mensagem</ion-label>
    <ion-input type="text" [(ngModel)]="texto"></ion-input>
  </ion-item>


  <button ion-button (click)="enviar()">Enviar</button>

</ion-content>