.btnSeguinteRegisto{
    text-align: right
}

.iconBtnSeguinteRegisto {
    margin-left: 15px;
}


.item > ion-icon, .item-inner > ion-icon {
    color: #FFF;
}

item-ios ion-icon[item-left], .item-ios ion-icon[item-right] {
    margin-left: 10px;
}