<ion-content class="contentPerfil">

    <div class="contentFotoTitle">

        <!-- BUTTON EDITAR
        <ion-buttons end class="btnEdit">
            <button ion-button icon-only no-shadow (click)="presentModal()">
                <ion-icon name="settings"></ion-icon>
            </button>
        </ion-buttons>
        BUTTON EDITAR -->

        <!-- BUTTON GUARDAR -->
        <ion-buttons end class="btnEdit btnGuardar">
            <button ion-button icon-only no-shadow (click)="presentModal()">
                <ion-icon ios="ios-checkmark" md="md-checkmark" class="iconSave"></ion-icon>
            </button>
        </ion-buttons>
        <!-- BUTTON GUARDAR -->

        <div class="perfilAvatar">
            <img src="assets/img/lel.png">
        </div>
        <div class="btnEditarFoto">
            <button ion-button>Editar</button>
        </div>
        <!-- Qualdo tiveres o modo de edição ativo tens que substituir a class titleName por titleNameEdit -->
        <div class="titleNameEdit">
            <!-- NOME TITLE -->
            <h1>André Martins</h1>
        </div>
    </div>

    <ion-list class="itemInputColor">

        <!-- DADOS PESSOAIS -->
        <ion-list-header>
            Dados pessoais
        </ion-list-header>

        <!-- OFF
        <ion-item>
            Nome próprio
            <ion-note item-right>
                André
            </ion-note>
        </ion-item>
        OFF -->

        <!-- ON -->
        <ion-item class="ionItem">
            <ion-label color="textColor">Nome próprio</ion-label>
            <ion-input type="text" value="André"></ion-input>
        </ion-item>
        <!-- ON -->

        <!-- OFF
        <ion-item>
            Apelido
            <ion-note item-right>
                Martins
            </ion-note>
        </ion-item>
        -->

        <!-- ON -->
        <ion-item class="ionItem">
            <ion-label color="textColor">Apelido</ion-label>
            <ion-input type="text" value="Martins"></ion-input>
        </ion-item>
        <!-- ON -->

        <!-- OFF
        <ion-item>
            Data de nascimento
            <ion-note item-right>
                24/12/1972
            </ion-note>
        </ion-item>
        OFF -->

        <!-- ON -->
        <ion-item class="ionItem">
            <ion-label color="textColor">Data de nascimento</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" class="datetimeColor" [(ngModel)]="myDate"></ion-datetime>
        </ion-item>
        <!-- ON -->

    </ion-list>

    <ion-list class="itemInputColor">

        <!-- CONTACTOS -->
        <ion-list-header>
            Contactos
        </ion-list-header>

        <!-- OFF
        <ion-item>
            Email
            <ion-note item-right>
                afcmartins@ua.pt
            </ion-note>
        </ion-item>
        OFF -->

        <!-- ON -->
        <ion-item class="ionItem">
            <ion-label color="textColor">Email</ion-label>
            <ion-input type="text" value="afcmartins@ua.pt"></ion-input>
        </ion-item>
        <!-- ON -->

        <!--OFF
        <ion-item>
            Telemóvel
            <ion-note item-right>
                919191919
            </ion-note>
        </ion-item>
        OFF -->

        <!-- ON -->
        <ion-item class="ionItem">
            <ion-label color="textColor">Telemóvel</ion-label>
            <ion-input type="text" value="911911911"></ion-input>
        </ion-item>
        <!-- ON -->

    </ion-list>

    <ion-list class="itemInputColor2">
        <!-- ENCARREGANDOS -->
        <ion-list-header>
            ENCARREGANDOS
        </ion-list-header>

        <!-- OFF
        <ion-item class="encarregandosList">
            <h2>Pedro Araújo</h2>
            <ion-icon name="arrow-forward" item-right color="grey"></ion-icon>
        </ion-item>
        OFF -->

        <!-- ON -->
        <ion-item class="ionItem2">
            <ion-input type="text" value="Pedro Araujo"></ion-input>
        </ion-item>
        <!-- ON -->

        <!-- OFF
        <ion-item class="encarregandosList">
            <h2>Vasco Silva</h2>
            <ion-icon name="arrow-forward" item-right color="grey"></ion-icon>
        </ion-item>
        OFF -->

        <!-- ON -->
        <ion-item class="ionItem2">
            <ion-input type="text" value="Vasco Silva"></ion-input>
        </ion-item>
        <!-- ON -->

        <!--INSERIR NOVO ENCARREGANDO // QUANDO ESTIVER O MODO DE EDIÇÃO ATIVO NÃO DÁ PARA INSERIR
        <ion-item>
            <ion-input type="text" placeholder="Adicionar encarregando..."></ion-input>
        </ion-item>
        INSERIR NOVO ENCARREGANDO-->

    </ion-list>
</ion-content>