<ion-header no-shadow>
    <ion-toolbar color="primary" no-border no-shadow>
        <div *ngIf="edit==0">
            <ion-buttons end (click)="settings()">
                <button ion-button icon-only>
                    <ion-icon name="settings"></ion-icon>
                </button>
            </ion-buttons>
        </div>
        <div *ngIf="edit==1">
            <ion-buttons start (click)="teste()" class="iosBtn">
                <button ion-button icon-only>
                    <ion-icon name="close"></ion-icon>
                </button>
            </ion-buttons>
             <ion-buttons end (click)="settings()" class="iosBtn">
                <button ion-button icon-only no-shadow (click)="editar(form.value, form.valid)" [disabled]="!form.valid" style="position: absolute; bottom: 0; right: 0">
                    <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
                </button>
            </ion-buttons>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="contentPerfil">
    <!-- se a edição estiver desativada -->
    <div *ngIf="edit==0">
        <div class="contentFotoTitle">
            <div class="perfilAvatar">
                <img [src]="perfil.photoUrl">
            </div>
            <div class="titleNameEdit">
                <h1>{{perfil?.name}}</h1>
            </div>
        </div>
        <div class="backgoundColorPeril">
            <ion-list class="itemInputColor">

                <!-- DADOS PESSOAIS -->
                <ion-list-header>
                    Dados pessoais
                </ion-list-header>

                <ion-item>
                    Nome
                    <ion-note item-right>
                        {{perfil?.name}}
                    </ion-note>
                </ion-item>



                <ion-item>
                    Data de nascimento
                    <ion-note item-right>
                        {{perfil?.date}}
                    </ion-note>
                </ion-item>

            </ion-list>

            <ion-list class="itemInputColor">

                <!-- CONTACTOS -->
                <ion-list-header>
                    Contactos
                </ion-list-header>


                <ion-item>
                    Email
                    <ion-note item-right>
                        {{perfil?.email}}
                    </ion-note>
                </ion-item>


                <ion-item>
                    Telemóvel
                    <ion-note item-right>
                        {{perfil?.telemovel}}
                    </ion-note>
                </ion-item>

            </ion-list>

            <ion-list class="itemInputColor2">

                <!-- ENCARREGANDOS -->
                <ion-list-header>
                    ENCARREGANDOS
                </ion-list-header>


                <ion-item class="encarregandosList">
                    <h2>{{perfil?.filho}}</h2>
                </ion-item>

            </ion-list>

            <ion-list class="itemInputColor2">

                <ion-item class="encarregandosList">
                    <h2 style="text-align: center;" color="primary" (click)="logout()">Terminar sessão</h2>
                </ion-item>

            </ion-list>
        </div>
    </div>

    <div *ngIf="edit==1">
        <div class="contentFotoTitle">
            <div class="perfilAvatar">
                <img [src]="perfil.photoUrl">
                <!--
                <div class="btnEditarFoto">
                    <button ion-button (click)="imagem()">Editar</button>
                </div>
                -->
                <div class="titleNameEdit">
                    <h1>{{perfil?.name}}</h1>
                </div>

            </div>

        </div>

       <div class="backgoundColorPeril">
        <form [formGroup]="form">

            <ion-list class="itemInputColor">

                <ion-list-header>
                    Dados pessoais
                </ion-list-header>

                <ion-item class="ionItem">
                    <ion-label color="textColor">Nome</ion-label>
                    <ion-input type="text" value="{{perfil.name}}" formControlName="name"></ion-input>
                </ion-item>


                <ion-item class="ionItem">
                    <ion-label color="textColor">Data de nascimento</ion-label>
                    <ion-input type="text"></ion-input>
                    <ion-datetime displayFormat="DD/MM/YYYY" class="datetimeColor" formControlName="date"></ion-datetime>
                </ion-item>

            </ion-list>

            <ion-list class="itemInputColor">

                <ion-list-header>
                    Contactos
                </ion-list-header>



                <ion-item class="ionItem">
                    <ion-label color="textColor">Telemóvel</ion-label>
                    <ion-input type="tel" value="{{perfil.telemovel}}" formControlName="telemovel"></ion-input>
                </ion-item>

            </ion-list>

            <ion-list class="itemInputColor2">

                <ion-list-header>
                    Educandos
                </ion-list-header>

                <ion-item class="ionItem2">
                    <ion-input type="text" value="{{perfil.filho}}" formControlName="filho"></ion-input>
                </ion-item>

            </ion-list>
        </form>
        </div>
    </div>
</ion-content>
