.headerPerfil > .toolbar-background {
    border: none;
}

.contentFotoTitle{
     background-color: #15A9FC;
     padding-bottom: 5px;  
}

.btnEdit > .button-md{
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0);
}

.perfilAvatar{
    text-align: center;
    margin-top: -15px;
}

.perfilAvatar > img{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 4px solid #FFF;
}


.titleName{
    text-align: center;     
}

.titleNameEdit{
    text-align: center;     
}

.titleName > h1 {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #FFF;
}

.titleNameEdit > h1{
    margin-top: 0;
    margin-bottom: 15px;
    color: #FFF;
}

.encarregandosList > .item-inner > ion-icon{
    min-height: 2.2rem;
    font-size: 2.2rem;
}

.btnGuardar > button > .button-inner > .icon-ios{
    font-size: 54px !important;
    padding-right: 0.2em!important;
    padding-left: 0.2em!important;
}

.itemInputColor > .ionItem > .item-inner > .input-wrapper > ion-input > input {
    color: #99A1A7;
}

.itemInputColor2 > .ionItem2> .item-inner > .input-wrapper > ion-input > input {
    color: #99A1A7;
}

.datetimeColor > .datetime-text{
    color: #99A1A7!important;
}

.datetimeColor > .datetime-text[type=button]:focus{
    color: #15A9FC!important;
}

.itemInputColor > .ionItem > .item-inner > .input-wrapper > ion-input > input[type=text]:focus {
    color: #15A9FC!important;
}

.itemInputColor2 > .ionItem2 > .item-inner > .input-wrapper > ion-input > input[type=text]:focus {
    color: #15A9FC!important;
}

.itemInputColor > .ionItem > .item-inner > .input-wrapper > ion-input > datetime:focus {
    color: #15A9FC!important;
}

.btnEditarFoto{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

