<ion-header class="mensageHeaderTitle">
    <ion-navbar color="primary">
      <ion-title>Matemática<br><div>Pedro Araújo</div></ion-title>
     </ion-navbar>
</ion-header>

<ion-content>
    <ion-item no-lines>
    <ion-avatar item-left>
      <img src="assets/img/lel.png">
    </ion-avatar>
    <button ion-button color="light">O VASCO é gay</button>
  </ion-item>
      <div class="mensageBallonLeft" style="text-align: left;" color="light">
        <div class="chatAvatar">
            <img src="assets/img/lel.png">
        </div>
        <button ion-button color="light">O VASCO é gay</button>
        <div class="timeMensage" style="text-align: left">
            12:22  
        </div>
      </div>
      <div class="mensageBallonRight" style="text-align: right;" color="primary">
        <button ion-button color="primary">O Pedro também</button>
        <div class="timeMensage" style="text-align: right">
            12:22  
        </div>
      </div>
      <div class="mensageBallonLeft" style="text-align: left;" color="light">
        <button ion-button color="light">O VASCO é gay</button>
        <div class="timeMensage" style="text-align: left">
            12:22  
        </div>
      </div>
      <div class="mensageBallonRight" style="text-align: right;" color="primary">
        <button ion-button color="primary">O Pedro também</button>
        <div class="timeMensage" style="text-align: right">
            12:22  
        </div>
      </div>
       <div class="mensageBallonLeft" style="text-align: left;" color="light">
        <button ion-button color="light">O VASCO é gay</button>
        <div class="timeMensage" style="text-align: left">
            12:22  
        </div>
      </div>
      <div class="mensageBallonLeft" style="text-align: left;" color="light">
        <button ion-button color="light">O VASCO é gay</button>
        <div class="timeMensage" style="text-align: left">
            12:22  
        </div>
      </div>
      <div class="mensageBallonRight" style="text-align: right;" color="primary">
        <button ion-button color="primary">O Pedro também</button>
        <div class="timeMensage" style="text-align: right">
            12:22  
        </div>
      </div>
      <div class="mensageBallonRight" style="text-align: right;" color="primary">
        <button ion-button color="primary">O Pedro também</button>
        <div class="timeMensage" style="text-align: right">
            12:22  
        </div>
      </div>
       <div class="mensageBallonRight" style="text-align: right;" color="primary">
        <button ion-button color="primary">Que se casem!</button>
        <div class="timeMensage" style="text-align: right">
            12:22  
        </div>
      </div>

  <!--
  <div class="inputText">
      <ion-input type="text" placeholder="Mensagem"></ion-input>
      <button ion-button (click)="enviar()">Enviar</button>
  </div>  
-->
</ion-content>


<ion-footer keyboard-attach>

    <div class="topBorder">
     <ion-item class="sendButton">
          <ion-input type="text" placeholder="Escreva uma mensagem..."></ion-input>
          <ion-note item-right>
              <button ion-button clear><ion-icon name="send"></ion-icon></button>
          </ion-note>
     </ion-item>
    </div>
</ion-footer>