//////////////
//// ALL ////
////////////

// INPUTS ALIGN TEXT RIGHT PADDING
.input-ios .text-input {
    padding-right: 0!important;
}

.input-md .text-input {
    padding-right: 0!important;
}

// INPUTS ALIGN TEXT RIGHT TEXT
.label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input{
    text-align: right;
}

.label-md + ion-input .text-input, .label-md + ion-textarea .text-input{
    text-align: right;
}



///////////////////////////
//// LOGIN && REGISTO ////
/////////////////////////

//BUTTON BACK HEADER COLOR
.navbarTopBlue > .bar-button-default{
    color: #15A9FC; 
}

//TITULO HEADER AZUL
.titleTopBlue > .toolbar-title{
     color: #15A9FC; 
}

//LISTA BOTTOM SEM MARGIN
.listBottom{
    margin-bottom: 0;
}

// PAGES REGISTOS //

// BUTTON SEGUINTE && FINALIZAR

.btnSeguinteRegisto{
    text-align: right
}

.btnSeguinteRegisto > .item-inner > ion-icon{
    margin-left: 15px;
    color:#FFF!important;
}



///////////////
//// HOME ////
/////////////

.toast-message { 
    background-color: #f53d3d;
}

$loading-ios-background: #f53d3d;
$loading-md-background: #f53d3d;

.loading-container .loading{
    background-color: red!important;
}


ion-loading {
    background-color: #15A9FC;
}

ion-backdrop{
    background-color: transparent!important;
}

.loading-wrapper {
    background-color: transparent!important;
    color: #FFF!important;
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0)!important;
}

.loading-ios .spinner-ios line, .loading-ios .spinner-ios-small line{
    stroke: #FFF;
}

.loading-md .spinner-md line, .loading-md .spinner-md-small line{
    stroke: #FFF;
}

.loading-md .spinner-crescent circle {
    stroke: #FFF;
}

