//////////////
//// ALL ////
////////////

// INPUTS ALIGN TEXT RIGHT PADDING
.input-ios .text-input {
    padding-right: 0!important;
}

.input-md .text-input {
    padding-right: 0!important;
}

// INPUTS ALIGN TEXT RIGHT TEXT
.label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input{
    text-align: right;
}

.label-md + ion-input .text-input, .label-md + ion-textarea .text-input{
    text-align: right;
}



///////////////////////////
//// LOGIN && REGISTO ////
/////////////////////////

//BUTTON BACK HEADER COLOR
.navbarTopBlue > .bar-button-default{
    color: #15A9FC; 
}

//TITULO HEADER AZUL
.titleTopBlue > .toolbar-title{
     color: #15A9FC; 
}

//LISTA BOTTOM SEM MARGIN
.listBottom{
    margin-bottom: 0;
}

// PAGES REGISTOS //

// BUTTON SEGUINTE && FINALIZAR

.btnSeguinteRegisto{
    text-align: right
}

.btnSeguinteRegisto > .item-inner > ion-icon{
    margin-left: 15px;
    color:#FFF!important;
}



///////////////
//// HOME ////
/////////////


/*
.addIconHeader{
    font-size: 28pt;
}

.item > ion-icon, .item-inner > ion-icon{
    min-height: 2.2rem;
    font-size: 2.2rem;
    color: #acacac;
}


// BARRA COM OS BOTÕES PARA AVANCAR
.btnRegisto{
    margin-bottom: 0;
    margin-top: 0;
}

*/