 .novaMensagem{
     margin-left: 10px;
     margin-right: 12px;
 }
 
 
 .timeChat[item-right] {
    font-size: 12px;
    margin-top: -40px;
    margin-bottom: 0;
}

.avatarListChat img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.mensagemOn{
    font-weight: 500!important;
}

.mensagemOnC{
    font-weight: 500!important;
    color: #000!important;
}