<ion-header>
    <ion-toolbar color="primary">
         <ion-title>Notificações</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- LISTA NOTIFICAÇÔES -->
    <ion-list>
        
            <ion-item class="listChat" text-wrap>
                <ion-avatar item-left class="avatarListChat">
                  <img src="assets/img/foto.jpg">
                </ion-avatar>
                <p><span style=" font-weight: 500; color: #000">André Martins</span> a minute. Wait a minute, Doc. Uhhh, das asdasdas , Wait a minute. Wait a minute, Doc. Uhhh</p>
            </ion-item>

            <ion-item class="listChat" text-wrap>
                <ion-avatar item-left class="avatarListChat">
                  <img src="assets/img/pedro.png">
                </ion-avatar>
                <p><span style=" font-weight: 500; color: #000">Pedro Araújo</span> a minute. Wait a minute, Doc. Uhhh, das asdasdas , Wait a minute. Wait a minute, Doc. Uhhh  a minute. Wait a minute, Doc. Uhhh, das asdasdas , Wait a minute. Wait a minute, Doc. Uhhh</p>
            </ion-item>

            <ion-item class="listChat" text-wrap>
                <ion-avatar item-left class="avatarListChat">
                  <img src="assets/img/vasco.png">
                </ion-avatar>
                <p><span style=" font-weight: 500; color: #000">Vasco Silva</span> a minute. Wait a minute, Doc. Uhhh, das asdasda</p>
            </ion-item>


    </ion-list>
     
</ion-content>