.popover-md .popover-content {
    top:50px!important;
}

.popover-ios .popover-content {
    top:70px!important;
}

.popover-content {
    width: 94%!important;
    left:3%!important;
}

.popover-arrow{
    display: none!important;
}